{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="container">
        <form action="" method="GET">
            {{ filter.form }}
            <button type="submit">
                Search
            </button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Singer</th>
                    <th>Genre</th>
                    <th>Audio File</th>
                </tr>
            </thead>

            <tbody>
                {% for track in filter.qs %}
                <tr>
                    <td>{{track.title}}
                    <td>{{track.singer.nickname}}</td>
                    <td>{{track.genre.name}}</td>
                    <td>
                        <audio controls>
                            <source src="{{ track.music.url }}" type="audio/mp3"/>
                        </audio>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>